npm/font-awesome-6-pro/font-awesome-6-pro/js/
npm/font-awesome-6-pro/font-awesome-6-pro/less/
npm/font-awesome-6-pro/font-awesome-6-pro/metadata/
npm/font-awesome-6-pro/font-awesome-6-pro/scss/
npm/font-awesome-6-pro/font-awesome-6-pro/sprites/
npm/font-awesome-6-pro/font-awesome-6-pro/svgs/
npm/font-awesome-6-pro/font-awesome-6-pro/webfonts/
